.terminal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--app-bg);
}

.terminal.active {
  display: block;
}

.terminal .xterm {
  height: 100%;
  padding: 10px;
}

.terminal .xterm-viewport {
  overflow-y: auto;
}